In [1]:
import pandas as pd

In [2]:
pd.read_csv("group_data.csv")

      Group  Solution  Complexity  Value
0   Group 1         1           5      5
1   Group 1         2           5      5
2   Group 1         3           5      5
3   Group 1         4           5      5
4   Group 1         5           5      5
5   Group 1         6           5      5
6   Group 1         7           5      5
7   Group 1         8           5      5
8   Group 1         9           5      5
9   Group 1        10           5      5
10  Group 1        11           5      5
11  Group 1        12           5      5
12  Group 1        13           5      5
13  Group 1        14           5      5
14  Group 1        15           5      5
15  Group 1        16           5      5
16  Group 2         1           5      5
17  Group 2         2           5      5
18  Group 2         3           5      5
19  Group 2         4           5      5
20  Group 2         5           5      5
21  Group 2         6           5      5
22  Group 2         7           5      5
23  Group 2         8           5      5
24  Group 2         9           5      5
25  Group 2        10           5      5
26  Group 2        11           5      5
27  Group 2        12           5      5
28  Group 2        13           5      5
29  Group 2        14           5      5
30  Group 2        15           5      5
31  Group 2        16           5      5
32  Group 3         1           5      5
33  Group 3         2           5      5
34  Group 3         3           5      5
35  Group 3         4           5      5
36  Group 3         5           5      5
37  Group 3         6           5      5
38  Group 3         7           5      5
39  Group 3         8           5      5
40  Group 3         9           5      5
41  Group 3        10           5      5
42  Group 3        11           5      5
43  Group 3        12           5      5
44  Group 3        13           5      5
45  Group 3        14           5      5
46  Group 3        15           5      5
47  Group 3        16           5      5